* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("/frontend/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }
  
@font-face {
    font-family: "Roboto";
    src: url("/frontend/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: bold;
  }

body {
    font-family: "Roboto";
}

.footer {
    background: url('/frontend/assets/BackgroundImage.png') no-repeat center center;
    background-size: cover;
    padding: 20px 0;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(128, 0, 128, 0.3); 
}

.footer-logo .logo-image {
    width: 40px; 
}

.footer-nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-info {
    font-size: 0.9em;
}